---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404" noindex mainClass="grid place-items-center">
	<h1 class="text-sm font-semibold leading-none tracking-normal text-ink">
		404
	</h1>
</BaseLayout>
