---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout mainClass="grid place-items-center">
	<h1 id="template-title" class="text-sm font-semibold leading-none tracking-normal text-ink">
		ABOUT
	</h1>
</BaseLayout>
